.drink-image {
    border-radius: 50%;;
    padding: 2.4%;
    width: 180px;
}

.drink-name {
    font-family: 'Julius Sans One';
    font-size: 32px;
    margin: 12px auto 2px;
    text-align: center;
}

.drink-info {
    display: flex;
}

.drink-specs {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 0;
    margin-left: 36px;
}

