.paired-component {
    align-content: center;
    border-radius: 10px;;
    box-shadow: 3px 3px 3px 1px #000000;
    background: white;
    height: 300px;
    width: 600px;
}

.game-image {
    max-height: 180px;
    max-width: 160px;
    min-width: 160px; 
    padding: 1% 3%;
}

.game-name {
    font-family: 'Julius Sans One';
    font-size: 32px;
    margin: 12px auto;
    text-align: center;
}

.game-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-specs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .paired-component {
        height: auto;
        width: 80%;
    }

    .game-info {
        flex-direction: column;
    }
}