.heading-section,
.title,
.slogan {
    display: flex;
}


.heading-section {
    /* border: 2px solid green; */
    flex-direction: column;
    height: 232px;
}

.title {
    font-family: 'Julius Sans One';
    font-size: 96px;
    font-weight: 400;
    margin: 32px auto 0;
}

.slogan {
    font-family: 'Oooh Baby';
    font-size: 50px;
    margin-left: 20%;
    margin-top: 8px;
}

.cocktail-icon {
    width: 180px;
    height: 80px;
    margin-left: 40px;;
}

.slogan-icon {
    display: flex;
}