.heading-section,
.title,
.slogan {
    display: flex;
}


.heading-section {
    /* border: 2px solid green; */
    flex-direction: column;
}

.title {
    font-size: 66px;
    margin: 3% 0 0 16%;
}

.slogan {
    font-size: 36px;
    margin-left: 24%;
}