.paired-page {
    align-items: center;
    background-color: #19435A;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: auto;
}

.paired-components {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.perfect-pairing-title {
    color: white;
    font-family: 'Oooh Baby';
    font-size: 72px;
    margin-bottom: 24px;
    margin-top: 10px;
}

.add-favorite-button {
    background-color: teal;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px #000000;
    color: white;
    font-family: 'Julius Sans One';
    font-size: 24px;
    height: 64px;
    margin: 1.6% 0 1%;
    padding: .5%;
    width: 200px;
}

.add-favorite-button:hover {
    background-color: white;
    color: #008080;
    font-weight: 600;
    transform: scale(1.2);
}

.plus-sign {
    color: white;
    font-size: 48px;
    margin: auto 0;
}