.loading-page-bottom {
    display: flex;
}

.game-liquor-input {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14%;
    margin-top: 2%;
}

.game-input,
.liquor-input {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 298px; 
}

.liquor-dropdown,
.game-dropdown, 
.pair-button,
.favorites-button {
    border: none;
    border-radius: 10px;
    font-family: 'Julius Sans One';
    font-size: 16px;
    height: 48px;
    margin-bottom: 48px;
    padding: 2%;
    text-align: center;
    transition: all .2s ease-in-out;
}

.pair-button,
.favorites-button {
    background-color: teal;
    color: white;
    font-size: 24px;
}

.pair-button {
    width: 120px;
}

.favorites-button {
    width: 156px;
}

.pair-button:hover,
.favorites-button:hover {
    background-color: white;
    color: #008080;
    font-weight: 600;
    transform: scale(1.2);
}

.circular-image { 
    border-radius: 50%; 
    height: 480px; 
    margin-left: 204px;
    margin-top: 24px;
    overflow: hidden; 
    position: relative; 
    width: 480px; 
} 

.circular-image img { 
    height: auto; 
    width: 100%; 
    
}

.error-message-pair-form {
    background-color: white;
    color: red;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Julius Sans One';
    width: 100%;
    padding: 2%;
}