body {
  height: 100vh;
  background-color: #19435A;
}

.landing-page {
  height: 70%;
}

.error-message-home {
  position: fixed;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Julius Sans One';
  color: white;
  font-size: 30px;
}